<h1 class="text-center mb-4 explore-recipes-title">Explore Recipes</h1>

<% if @recipes.present? %>

  <h2 class="text-center my-5 recipes-found-title"></h2>

  <div class="container">
    <div class="row justify-content-center">
      <% @recipes.each do |recipe| %>
        <div class="col-md-6 col-lg-4 mb-4">
          <!-- Card with hover effect and shadow -->
          <div class="card recipe-card shadow-sm h-100">
            <img src="<%= recipe['image'] %>" class="card-img-top" alt="<%= recipe['title'] %>">
            <div class="card-body recipe-card-body">
              <h5 class="card-title text-center recipe-card-title"><%= recipe['title'] %></h5>
              <p class="card-text text-center mb-2 recipe-card-text">Click below for details</p>

            <%= link_to "See more", recipe_path(id: recipe['id']), class: "btn-see-more" %>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <p class="text-center no-recipes-message mt-4">No recipes found!</p>
<% end %>
